sql_connection do
  adapter     "mysql"
  host        "localhost"
  username    "root"
  password    "123"
  database    "carderscc_01"
  batch_size  10000           
end

mongodb_connection do
  host        "ds033875-a.mongolab.com"
  database    "forum"
  port        "33875"
  username    "tebyt"
  password    "vizugforum"
end