# Powered by mongify
# http://mongify.com

# mongodump -d forum -o ./
# mongorestore -h ds033875.mongolab.com:33875 -d heroku_wc3w4m58 -u tebyt -p vizugforum ./forum

sql_connection do
  adapter     "mysql"
  host        "localhost"
  username    "root"
  password    "123"
  database    "carderscc_01"
  batch_size  10000           
end

mongodb_connection do
  host        "localhost"
  database    "forum"
end