


<div class="container-fluid">
    <div class="row" id="div_search">
        <div class="col-md-12 text-center"><h1>Underground Forum Visualization</h1></div>
        <div class="col-md-12">
            <button class="btn btn-default" type="button" id="forum_search" style="width: 100%">
                Forums
                <span class="caret"></span>
            </button>
            <table id="search_result">
            </table>
        </div>
    </div>
    <div class="row" id="div_forum">
        <div class="col-md-6">
            <h4>Users</h4>
            <div class="scroll">
                <table id="user">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Threads</h4>
            <div class="scroll">
                <table id="thread">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-default center-block" type="button" onclick="Dispatcher.viz()"
            style="margin-top: 10px">
                Reset
            </button>
        </div>
    </div>


</div>
<div id = "tooltip"></div>
<div id="cover"></div>